.div-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  cursor: pointer;
  /* background-color: rgb(233, 233, 233); */
  /* padding: 3px 3px; */
}

.div-tab {
  position: relative;
  flex-grow: 0; /* Prevent tabs from growing */
  width: 150px; /* Set a fixed width for the tabs */
}

.div-tab:last-child {
  margin-right: 0; /* Remove margin from the last tab */
}

.div-tab .tab,
.div-tab input {
  font-family: "Inter Tight";
  /* font-weight: 600; */
  display: block;
  width: 100%;
  height: 80%;
  text-decoration: none;
  color: inherit;
  padding: 8px 12px;
  border: 0.5px solid transparent;
  border-bottom: none;
  border-radius: 0px;
  /* Lighter background color */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Show ... for long names */
  max-width: 150px; /* Maximum width as in Chrome */
  color: rgb(46, 45, 45);
}

.inactive {
  opacity: 0.8;
  font-weight: 400;
}

.div-tab .tab:hover,
.div-tab input:hover {
  background-color: #edf2f7; /* Slightly darker background on hover */
  font-weight: 500;
}

.div-tab.active span,
.div-tab.active input {
  background-color: #edf2f7;
  z-index: 1 !important;
  border-color: #ccc;
  font-weight: 600;

  border-bottom-color: transparent;
}
.tab-bar {
  background-color: rgb(234, 231, 231);
  padding: 0px 0px;
}

.tab {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  z-index: 1 !important;
}

.vertical {
  width: "10px";
  height: "10px";
  /* padding-top: "20px"; */
  margin-top: 10px;
  /* padding-top: 2px; */
  font-size: 15px;
  /* height: "100%"; */
  transition: opacity 1s ease-in;
}

.show-vertical {
  opacity: 1;
}
.hide-vertical {
  opacity: 0;
  transition-duration: 0s;
}

.add-icon {
  padding: 8px 8px 1px 8px;
  margin-top: 2px;
  border: 1px solid transparent;
  border-radius: 5px;
  /* Lighter background color */
  border-radius: 50%;
  color: rgb(44, 43, 43);
  margin-left: 5px;
}

.add-icon:hover {
  background-color: #edf2f7; /* Slightly darker background on hover */
}

.tab-modal {
  /* visibility: visible; */
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0%;
  top: -100px;
  background-color: transparent;
  transition: all 3s ease;
  /* transform: translateX(-50%); */
  opacity: 0;
  padding: 5px;
  z-index: 1500;
  width: auto;

  /* border: 1px solid #cbd5e0; */

  /* animation: slideFromTop 0.5s ease forwards; */
  /* opacity: 0; */
  opacity: 0;
  animation: slideFromTop 0.5s ease forwards, fadeIn 0.5s ease forwards;
}

.tab-modal .tab-hidden {
  opacity: 1;
  animation: slideToTop 0.5s ease forwards, fadeOut 0.5s ease forwards;
}
.tab-inner-div {
  z-index: 150;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 7.5px;
  margin-bottom: 5px;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  color: black;
  transition: all 0.5s ease;
  padding: 5px;
  margin: 5px;
}

.tab-inner-div:hover {
  background-color: rgb(245, 245, 245);
}
.tab-inner-div-icons {
  height: 20px;
  width: 20px;
}

@keyframes slideFromTop {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}
.tower-info {
  height: auto;
  width: 150px;
  top: -10%;
  visibility: hidden;
  position: absolute;
  z-index: 1500;
  opacity: 0;
  background-color: white;
  transition: top 0.8s ease, opacity 0.8s ease;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(15, 15, 15, 0.1);
  padding: 5%;
}

.div-tab:hover .tower-info {
  visibility: visible;
  top: 120%;
  opacity: 1;
}

@keyframes slideToTop {
  from {
    top: 50%;
  }
  to {
    top: 0%;
  }
}

.add-icon-disabled {
  cursor: not-allowed;
  background-color: rgb(245, 245, 245);
}
.indication {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 1;
  text-align: center;
  background-color: #f7e4d6;
  border: 5px;
  border-color: black;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  font-size: 11px;
  color: black;
}
