.skeleton {
    width: 300px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.skeleton-header {
    height: 100%;
    width: 100%;
    /* background-color: var(--background-body); */
    background-color: rgba(224, 224, 224, 0.925);
    border-radius: 17px;
    margin-bottom: 1rem;
    animation: shimmer 1.5s infinite;
}

.skeleton-body .skeleton-line {
    height: 20px;
    background-color: #ddd;
    border-radius: 4px;
    margin-bottom: 0.75rem;
    animation: shimmer 1.5s infinite;
}

.skeleton-body .skeleton-line:last-child {
    width: 80%;
    margin-bottom: 0;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
        background-color: rgba(211, 208, 208, 0.925);
        opacity: 0.3;
    }
    50% {
        opacity: 0.9;
        background-color: rgb(231, 231, 231);
    }
    100% {
        background-position: 1000px 0;
        background-color: rgba(211, 208, 208, 0.925);
        opacity: 0.3;
    }
}
/* 
.skeleton-header,
.skeleton-body .skeleton-line {
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 100%;
} */

.loading-main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

.loading-svg circle {
    fill: none;
    stroke: rgb(234, 145, 94);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}
