.detailed-view-main {
  width: 100%;
  height: calc(100vh - 100px);
}

.detailed-search-div {
  margin: 15px auto;
  width: 50%;
}

.flex-box {
  width: 100%;
  display: flex;
  height: calc(100% - 100px);
  gap: 5px;
}

.view-main-div {
  width: 100%;
  overflow-y: auto;
  margin: 25px 0px;
  padding-bottom: 50px;
}

.view-main-div-dataset {
  height: calc(100% - 100px);
  overflow-y: auto;
  margin: 5px 0px;
  padding-bottom: 50px;
}

.remove-background-color {
  background-color: var(--background-body);
}
