.layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.layout-main-content {
    /* flex-grow: 1; */
    padding: 20px;
    background-color: var(--background-body);
    height: 100%;
    box-sizing: content-box;
    width: 95%;
}
